# CSpell を利用してスペルチェックを行うワークフロー
#
# 利用する設定ファイルは`.cspell.json`
#
name: Spell check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: streetsidesoftware/cspell-action@v2
